{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "proseWrap": "preserve",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^components/(.*)$",
    "^hooks/(.*)$",
    "^lib/(.*)$",
    "^styles/(.*)$",
    "^views/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}